/* =================================================================================
* INFORMATION
* -----------------------------------------------------------------------
* @File Name: _font.scss
* @Description : 폰트 정의
* @Create Date: 2021-04-05
* @Update Date: N/A
* @History: N/A
* ================================================================================= */

/* ====================== */
/* TT UI library */
/* ====================== */
/* ===== Webfont ===== */
@font-face {
 font-family: 'NotoSansKR';
 font-weight: 100;
//  src: url('../font/NotoSans-Thin.eot');
 src: url('../font/NotoSans-Thin.eot?#iefix') format('embedded-opentype'),
      url('../font/NotoSans-Thin.woff') format('woff'),
      url('../font/NotoSans-Thin.otf') format('truetype');
}
@font-face {
 font-family: 'NotoSansKR';
 font-weight: 200;
//  src: url('../font/NotoSans-Light.eot');
 src: url('../font/NotoSans-Light.eot?#iefix') format('embedded-opentype'),
      url('../font/NotoSans-Light.woff') format('woff'),
      url('../font/NotoSans-Light.otf') format('truetype');
}
@font-face {
 font-family: 'NotoSansKR';
 font-weight: 300;
//  src: url('../font/NotoSans-DemiLight.eot');
 src: url('../font/NotoSans-DemiLight.eot?#iefix') format('embedded-opentype'),
      url('../font/NotoSans-DemiLight.woff') format('woff'),
      url('../font/NotoSans-DemiLight.otf') format('truetype');
}
@font-face {
 font-family: 'NotoSansKR';
 font-weight: 400;
//  src: url('../font/NotoSans-Regular.eot');
 src: url('../font/NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
      url('../font/NotoSans-Regular.woff') format('woff'),
      url('../font/NotoSans-Regular.otf') format('truetype');
}
@font-face {
 font-family: 'NotoSansKR';
 font-weight: 600;
//  src: url('../font/NotoSans-Medium.eot');
 src: url('../font/NotoSans-Medium.eot?#iefix') format('embedded-opentype'),
      url('../font/NotoSans-Medium.woff') format('woff'),
      url('../font/NotoSans-Medium.otf') format('truetype');
}
@font-face {
 font-family: 'NotoSansKR';
 font-weight: 800;
//  src: url('../font/NotoSans-Bold.eot');
 src: /*url('../font/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),*/
      url('../font/NotoSans-Bold.woff') format('woff'),
      url('../font/NotoSans-Bold.otf') format('truetype');
}
@font-face {
 font-family: 'NotoSansKR';
 font-weight: 900;
//  src: url('../font/NotoSans-Black.eot');
 src: url('../font/NotoSans-Black.eot?#iefix') format('embedded-opentype'),
      url('../font/NotoSans-Black.woff') format('woff'),
      url('../font/NotoSans-Black.otf') format('truetype');
}

// @import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

@font-face {
      font-family: 'BlackHanSans';
      font-weight: 900;
     //  src: url('../font/NotoSans-Black.eot');
      src: url('../font/BlackHanSans-Regular.ttf') format('embedded-opentype'),
     }