<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>강사료 내역서</title>
  <link rel="stylesheet" type="text/css" href="../asset/css/common.css" />
</head>
<body>
  <!-- wrap -->
  <div class="pageWrap">
    <!-- header -->
    <div id="header">
      <header>
        <h1>2021년 6월 강사료 상세 내역서</h1>
        <div class="subInfo">
          <strong>[홍 길 동] 선생님</strong>
        </div>
      </header>
    </div>
    <!-- //header -->
    <!-- container -->
    <div id="container">
      <div class="contents">
        <p class="markMsg">강사료는 수강시간에 따라 나누어 지급됩니다.<br/>예를 들어, 동영상강의 수강기간이 1~3월로 3개월이라면 강사료도 1~3월에 걸쳐 나누어 지급되니 참고하여 주시기 바랍니다.</p>
        <!-- 직강 수강료 내역서 -->
        <section class="feeBox">
          <div class="detailArea">
            <h2>직강 수수료 내역서</h2>
            <div class="tls">
              <table>
                <colgroup>
                  <col width="40"/>
                  <col width="*"/>
                  <col width="70"/>
                  <col width="130"/>
                  <col width="70"/>
                  <col width="130"/>
                </colgroup>
                <thead>
                  <tr>
                    <th colspan="2">강좌</th>
                    <th>인원</th>
                    <th>수강금액</th>
                    <th>%</th>
                    <th>강사료</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td class="tL">(라이브) 상반기쌤팩(d)</td>
                    <td class="tR">1</td>
                    <td class="tR">142,755</td>
                    <td rowspan="10">60%</td>
                    <td class="tR">85,653</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td class="tL">(라이브) 연간쌤팩(d)</td>
                    <td class="tR">16</td>
                    <td class="tR">2,302,446</td>
                    <td class="tR">1,381,468</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3">직강 강사료 합계</td>
                    <td class="tR">2,445,201</td>
                    <td class="bgGray"></td>
                    <td class="tR">1,467,121</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="totalArea">
            <div class="totalGroup">
              <dl>
                <dt>직강 강사료</dt>
                <dd><span class="won">-</span></dd>
              </dl>
              <dl>
                <dt>복사/인쇄</dt>
                <dd><span class="won">-</span></dd>
              </dl>
              <dl>
                <dt>기타강사료</dt>
                <dd><span class="won">-</span></dd>
              </dl>
              <dl>
                <dt>직강<br/>소득+주민세</dt>
                <dd><span class="won">-</span></dd>
              </dl>
              <dl class="titleHide">
                <dt>Total</dt>
                <dd><span class="won">-</span></dd>
              </dl>
            </div>
          </div>
        </section>
        <!-- //직강 수강료 내역서 -->
        <!-- 동영상 수강료 내역서 -->
        <section class="feeBox">
          <div class="detailArea">
            <h2>동영상 수강료 내역서</h2>
            <div class="tls">
              <table>
                <colgroup>
                  <col width="40"/>
                  <col width="*"/>
                  <col width="70"/>
                  <col width="130"/>
                  <col width="70"/>
                  <col width="130"/>
                </colgroup>
                <thead>
                  <tr>
                    <th colspan="2">강좌</th>
                    <th>인원</th>
                    <th>수강금액</th>
                    <th>%</th>
                    <th>강사료</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td class="tL">(라이브) 상반기쌤팩(d)</td>
                    <td class="tR">1</td>
                    <td class="tR">142,755</td>
                    <td rowspan="15">60%</td>
                    <td class="tR">85,653</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td class="tL">(라이브) 연간쌤팩(d)</td>
                    <td class="tR">16</td>
                    <td class="tR">2,302,446</td>
                    <td class="tR">1,381,468</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>4</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>7</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>8</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>9</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>11</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>13</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>14</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                  <tr>
                    <td>15</td>
                    <td class="tL"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                    <td class="tR"></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="3">동영상 강사료 합계</td>
                    <td class="tR">2,445,201</td>
                    <td class="bgGray"></td>
                    <td class="tR">1,467,121</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <div class="totalArea">
            <div class="totalGroup">
              <dl>
                <dt>동영상 강사료</dt>
                <dd><span class="won">-</span></dd>
              </dl>
              <dl>
                <dt>단체수강</dt>
                <dd><span class="won">-</span></dd>
              </dl>
              <dl>
                <dt>기타강사료</dt>
                <dd><span class="won">-</span></dd>
              </dl>
              <dl>
                <dt>동영상<br/>소득+주민세</dt>
                <dd><span class="won">-</span></dd>
              </dl>
              <dl class="titleHide">
                <dt>Total</dt>
                <dd><span class="won">-</span></dd>
              </dl>
            </div>
            <div class="totalGroup">
              <dl>
                <dt>실지급액</dt>
                <dd><span class="won">-</span></dd>
              </dl>
              <dl>
                <dt>대여금</dt>
                <dd><span class="won">-</span></dd>
              </dl>
              <dl>
                <dt>송금액</dt>
                <dd><span class="won">-</span></dd>
              </dl>
            </div>
          </div>
        </section>
        <!-- //동영상 수강료 내역서 -->
      </div>
    </div>
    <!-- //container -->
  </div>
  <!-- //wrap -->
</body>
</html>